.signin-wrapper {
  top: 10vw;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;

  // transition: all 0.32s ease-in;
}
.signin-wrapper {
  // display: none;
}

// .icon-login{
//   // .menu-login{
//   //   position: absolute;
//   // }
// }
// .menu-login{

//   top: 0;
//   display: flex;
//   z-index: 9999;
// }

.box {
  flex: 1;
}

.box .signin-wrapper {
  display: flex;
}
.fullscreen {
  position: absolute !important;
  width: 100%;
  height: auto;
  background-color: #42424291;
}
.fullscreen .icon-wrapper {
  position: absolute;
  top: 12vw !important;
  left: 58% !important;
  z-index: 1;
}

.background {
  position: relative;
  background-color: #42424215;
  pointer-events: none;
  filter: blur(2px) grayscale(80%);
  transform: scale(1.1);
}
// .background{
//   display: none;
// }
.inactive {
  pointer-events: none;
  filter: blur(2px) grayscale(80%);
  transform: scale(1.1);
}
.inactive .form-wrapper {
  filter: opacity(55%);
}

h5 {
  color: #212121;
  font-size: 20px;
  margin: 15px 0 30px 0;
  text-align: center;
}

.form,
.form-wrapper {
  box-shadow: #424242 0px 2px 12px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signin-wrapper .form-group {
  position: absolute;
  left: 42vw;
  top: 23vw;
}
.signin-wrapper .showpass {
  position: absolute;
  // z-index: 2000;
  left: 56vw;
  top: 12vw;
}
.signin-wrapper .showpass-signup {
  position: absolute;
  // z-index: 2000;
  left: 56%;
  top: 15.5vw;
}
.form-wrapper {
  background-color: white;
  // width: 300px;
  // height: 500px;
  padding: 20px 0;
  margin: 20px auto;
  border-radius: 15px;
}
.form-wrapper button {
  cursor: pointer;
  font-weight: bold;
  width: 230px;
  margin: 0 35px 20px;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 14px;
}
.form-wrapper button.primary {
  color: white;
  background: #60b0f1;
}
.form-wrapper button.primary:hover {
  opacity: 0.9;
}
.form-wrapper button.secondary {
  background: white;
  color: #0f3758;
}
.form-wrapper button.secondary:hover {
  background: #f5f5f5;
}
.form-wrapper .form-field {
  font-weight: bold;
  width: 230px;
  margin: 0 35px 20px;
  height: 35px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f5f5f5;
  color: #748194;
  font-size: 14px;
}
.form-wrapper p {
  color: #424242;
  font-size: 14px;
  text-align: center;
}
.form-wrapper p a {
  cursor: pointer;
  color: #0f3758;
}
.form-wrapper p a:hover {
  color: #009688;
}
.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible !important;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes slideDown {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(8%);
  }
  65% {
    transform: translateX(-4%);
  }
  80% {
    transform: translateX(4%);
  }
  95% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1024px) {
  .signin-wrapper .showpass {
    position: absolute;
    // z-index: 2000;
    left: 58vw;
    top: 16.5vw;
  }
  .signin-wrapper .showpass-signup {
    position: absolute;
    // z-index: 2000;
    left: 58vw;
    top: 22vw;
  }
  .fullscreen .icon-wrapper {
    position: absolute;
    top: 12.5vw !important;
    left: 61vw !important;
    z-index: 1;
  }
  .signin-wrapper .form-group {
    position: absolute;
    left: 39vw;
    top: 32vw;
  }
}
@media (min-width: 1601px) and (max-width: 1920px) {
  .signin-wrapper .showpass {
    position: absolute;
    // z-index: 2000;
    left: 54vw;
    top: 8.9vw;
  }
  .signin-wrapper .showpass-signup {
    position: absolute;
    // z-index: 2000;
    left: 54vw;
    top: 11.9vw;
  }
  .fullscreen .icon-wrapper {
    position: absolute;
    top: 11.5vw !important;
    left: 56vw !important;
    z-index: 1;
  }
  .signin-wrapper .form-group {
    position: absolute;
    left: 44vw;
    top: 17vw;
  }
}
@media (min-width: 1441px) and (max-width: 1600px) {
  .signin-wrapper .showpass {
    position: absolute;
    // z-index: 2000;
    left: 55vw;
    top: 10.9vw;
  }
  .signin-wrapper .showpass-signup {
    position: absolute;
    // z-index: 2000;
    left: 55vw;
    top: 13.9vw;
  }
  .fullscreen .icon-wrapper {
    position: absolute;
    top: 11.5vw !important;
    left: 57vw !important;
    z-index: 1;
  }
  .signin-wrapper .form-group {
    position: absolute;
    left: 43vw;
    top: 21vw;
  }
}

@media (min-width: 1921px) and (max-width: 2560px) {
  .signin-wrapper .showpass {
    position: absolute;
    // z-index: 2000;
    left: 53vw;
    top: 6.6vw;
  }
  .signin-wrapper .showpass-signup {
    position: absolute;
    // z-index: 2000;
    left: 53vw;
    top: 8.9vw;
  }
  .fullscreen .icon-wrapper {
    position: absolute;
    top: 11vw !important;
    left: 54vw !important;
    z-index: 1;
  }
  .signin-wrapper .form-group {
    position: absolute;
    left: 45vw;
    top: 13vw;
  }
}