.card-form {
    background-color: #fff;
    text-align: left;
    padding: 10px;
    text-decoration: none;
    /* border: 2px solid #eaeaea;
    border-radius: 10px; */
    margin: 0px 8px;
} 

/* .page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} */
.form-print-payment-head{
    text-align: center;
    font-size: 1rem;
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.form-print-payment{
    padding: 1px;
    height: auto;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(3, 1fr);

}
.form-print-payment img{
    width: 153px;
}
.form-payment{
   margin-left: 3vw !important;
    text-align: left;
    
}

@page {
    size: A4;
    
}

@media print {
    .form-print-payment-head{
        text-align: center;
        font-size: 0.8rem;
    }
    .form-print-payment img{
        width: 153px;
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
    .form-print-payment{
        padding: 1px;
        height: auto;
        text-align: center;
        align-items: center;
        font-size: 0.7rem;
        display: grid;
        border-radius: 20px;
        grid-template-columns: repeat(3, 1fr);
    
    }
    .form-payment-total{
        margin-top: 5vw;
    }
    .form-payment{
       margin-left: 3vw !important;
        text-align: left;
        
    }
}

.print-header {
    text-align: center;
}

/* .card-form-border {
    padding: 100px;
    text-decoration: none;
    border: 2px solid #080808;
} */

.container-form {
    padding: 30px;
    background-color: #fff;
}

.print-form {
    padding: 30px;
    text-align: left;
    height: auto;
}

.form-print {
    padding: 1px;
    height: auto;
    text-align: right;
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.form-print-logo {
    margin-top: 10vw;
    height: auto;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-print label {
    text-align: left;
}

.form-print2 {
    padding: 1px;
    height: auto;
    text-align: left;
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(2, 1fr);
}