.container-paymant {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.container-paymants {
  display: block;
  max-width: 580px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 40px;
}
.modal-payment {
  background: #fff;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  overflow: hidden;
}
.modal-payment .form-payment .form-row-payment {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 0 30px;
}
.modal-payment .form-payment .form-row-payment:last-child {
  margin: 0;
}
.modal-payment .form-payment .form-row-payment:last-child .input-group-payment {
  width: 75%;
  margin: 0 15px 0 0;
}
.modal-payment
  .form-payment
  .form-row-payment:last-child
  .input-group-payment:last-child {
  width: 25%;
  margin: 0 0 0 15px;
}
.modal-payment .form-payment .input-group-payment {
  width: 100%;
}
.modal-payment .form-payment label {
  display: block;
  width: 100%;
  margin: 0 0 10px;
  color: #00a6ea;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal-payment .form-payment input {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 15px;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-payment .header-payment {
  background: #57aef5;
  padding: 30px;
  text-align: center;
}
.modal-payment .header-payment h1 {
  margin: 0 0 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.modal-payment .header-payment .card-type-payment {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.modal-payment .header-payment .card-type-payment .card-payment {
  position: relative;
  width: 25%;
  min-width: 54px;
  text-align: center;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
.modal-payment .header-payment .card-type-payment .card-payment.active {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
.modal-payment .header-payment .card-type-payment .card-payment.active:after {
  display: block;
  bottom: -30px;
}
.modal-payment .header-payment .card-type-payment .card-payment:after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.modal-payment .header-payment .card-type-payment .card-payment img {
  display: inline-block;
}
.modal-payment .header-payment .card-type-payment li {
  display: inline-block;
  margin: 0 10px;
}
.modal-payment .content-payment {
  padding: 30px;
}
.modal-payment .footer .button {
  outline: none;
  display: block;
  background: #f17e0a;
  width: 100%;
  border: 0;
  padding: 20px 30px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.info-payment {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.info-payment h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #333;
}
.info-payment span {
  color: #666;
  font-size: 12px;
}
.info-payment span a {
  color: #000;
  text-decoration: none;
}
.info-payment span .fa {
  color: #00a6ea;
}
lesshat-selector {
  -lh-property: 0;
}

.col-payment{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}




@-webkit-keyframes active {
  0% {
    bottom: -60px;
    opacity: 0;
  }
  100% {
    bottom: -30px;
    opacity: 1;
  }
}
@-moz-keyframes active {
  0% {
    bottom: -60px;
    opacity: 0;
  }
  100% {
    bottom: -30px;
    opacity: 1;
  }
}
@-o-keyframes active {
  0% {
    bottom: -60px;
    opacity: 0;
  }
  100% {
    bottom: -30px;
    opacity: 1;
  }
}
@keyframes active {
  0% {
    bottom: -60px;
    opacity: 0;
  }
  100% {
    bottom: -30px;
    opacity: 1;
  }
}
[not-existing] {
  zoom: 1;
}

//paymant
.card-paymant {
  background-color: #fff;
  padding: 30px;
  text-align: left;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  position: relative;
  margin: 0px 10px;
}





