
.dropdown-menu  {
    height: 300px;
    overflow-y: scroll;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .nav-tabs .dropdown-menu,
  .nav-pills .dropdown-menu,
  .navbar .dropdown-menu {
    margin-top: 0;
  }
  