/* footer section */


.footer-contaner {
  /* color: #ffffff;
  background: #111111; */
 

  bottom: 0;
  padding: 100px 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* justify-items: center; */
}
.footers {
  font-size: 14px;
  align-items: center; 
}
.footers p {
  font-size: 16px;
}

.footers img{
  width: 200px;
  height: auto;
  margin-left: 150px;
  
}
.footer-contaner a {
  color: #6c757d;
  text-decoration: none;
}
.footer-contaner  {
  background-color:#ffffffc7 !important;
}


@media (max-width: 576px) {
  /* footer section */
  .footer-contaner {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: left;
  }
  .footers {
    margin-left: auto;
    margin-right: auto; 
    align-items: center;
    
  }
  .footers img{
    margin-left: 60px;
    width: 175px;
    height: auto;
    
  }
}
