@media (min-width: 1200px) and (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

@media (min-width: 1441px) and (max-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1400px;
  }
}
@media (min-width: 1601px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1600px;
  }
}
@media (max-width: 1025px) {
  .menu-font-bottom {
    font-size: 10px;
    color: #fff;
  }
}
.appbar-bottom a {
  text-decoration: none;
}
.appbar-bottom {
  padding: auto;
}
@media (min-width: 1020px) {
  .appbar-bottom {
    display: none !important;
  }
}
.col-center {
  text-align: center;
}
.main-top {
  margin-top: 160px;
}
@media (min-width: 320px) and (max-width: 425px) {
  .main-top {
    margin-top: 90px;
  }
}
